<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CryptoApp</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>

        <ul>
            <li><img src="/static/images/favicon.png"/></li>
            <li><a href="/" onclick="handleNavigation(event)">Crypto</a></li>
            <li><a href="/weather" onclick="handleNavigation(event)">Weather</a></li>
        </ul>
        
    </nav>
    <header>Crypto Swap</header>
    <div class="container">
      <div id="convert-box">
        <form method="POST">
          <div class="dropDowns">
            <div class="currencySelect">
              <input
                class="currencyValue"
                name="currencyValue"
                autocomplete="off"
                id="currencyValue"
                placeholder="0"
                autofocus
                required
              />
              <select name="enteredCurrency" id="enteredCurrency">
                <% currencies.forEach((currency) => {%>
                <option value="<%=currency.id %>" id="<%=currency.id %>"><%= currency.name %></option>
                <% }) %>
              </select>
            </div>
            <div id="arrow-container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 24 24"
                fill="none"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                id="arrow"
              >
                <line x1="12" y1="5" x2="12" y2="19"></line>
                <polyline points="19 12 12 19 5 12"></polyline>
              </svg>
            </div>

            <div class="currencySelect">
              <input class="currencyValue" disabled <% if(locals.value > 0){%>
              value="<%= value %><% } %>" placeholder="0"/>
              <select name="convertedCurrency" id="convertedCurrency">
                <% currencies.forEach((currency) => {%>
                <option value="<%=currency.vs_currency  %>" id="<%= currency.vs_currency %>">
                  <%= currency.name %>
                </option>
                <% }) %>
              </select>
            </div>
          </div>
          <div>
            <button class="button" formaction="/convert">Convert</button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script>
    let enteredValue = document.querySelector("#currencyValue");
    const button = document.querySelector("button");
    
    if("<%=locals.convCurr%>"){
        const convCurr = document.getElementById("<%= locals.convCurr%>")
        const entCurr = document.getElementById("<%= locals.entCurr%>")
        convCurr.setAttribute("selected", true);
        entCurr.setAttribute("selected", true)

    }

    button.addEventListener("click", (e) => {
        // document.getElementById("currencyValue").value = "<%= locals.value %>";
        if (isNaN(enteredValue.value)) {
            alert("Please enter a valid number");
            e.preventDefault();
        }
    });
    const currentPageUrl = window.location.href;

    const navLinks = document.querySelectorAll('nav a');

    if(currentPageUrl === "http://<%= ip%>:3000/convert"){
        navLinks[0].classList.add('highlight')
    }

    navLinks.forEach(link => {
        if (link.href === currentPageUrl) {
        link.classList.add('highlight');
        }
    });

    function handleNavigation(event) {
    const currentPageUrl = window.location.href;

    const targetHref = event.target.href;

    if (targetHref === currentPageUrl) {
      event.preventDefault();
    }
}
  </script>
</html>
